DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_INCOMING=
DISCORD_CHANNEL_BREAKING=
DISCORD_CHANNEL_AI=
DISCORD_CHANNEL_PC_HARDWARE=
DISCORD_CHANNEL_WINDOWS_SOFTWARE=
DISCORD_CHANNEL_GAMING_TECH=
DISCORD_CHANNEL_CYBERSECURITY=
DISCORD_CHANNEL_GENERAL_TECH=
DISCORD_CHANNEL_VIDEO_IDEAS=
DISCORD_CHANNEL_USED_NEWS=

POLL_INTERVAL_MINUTES=10
NEWS_MIN_SCORE=55
BREAKING_MIN_SCORE=82
DATA_PATH=./data/state.json
SOURCES_PATH=./config/sources.yml
RULES_PATH=./config/rules.yml
DRY_RUN=false
